<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./../css/output.css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .faq {
            padding: 10px 12%;
            text-align: center;
            font-size: 18px;
        }

        .faq h2 {
            font-weight: 500;
            font-size: 40px;
        }

        .accordion {
            margin: 60px auto;
            width: 100%;
            max-width: 750px;
        }

        .accordion li {
            list-style: none;
            width: 100%;
            padding: 5px;
        }

        .accordion-label {
            display: flex;
            align-items: center;
            padding: 20px;
            font-size: 18px;
            font-weight: 500;
            background: #ffffff;
            margin-bottom: 2px;
            cursor: pointer;
            position: relative;
        }

        .accordion-label::after {
            content: '+';
            font-size: 34px;
            position: absolute;
            right: 20px;
            transition: transform 0.5s;
        }

        input[type='radio'] {
            display: none;
        }

        .accordion .content {
            background: #fffdfd;
            text-align: left;
            padding: 0 20px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s, padding 0.5s;
        }

        .accordion input[type='radio']:checked+.accordion-label+.content {
            max-height: 600px;
            padding: 30px 20px;
        }

        .accordion input[type='radio']:checked+.accordion-label::after {
            transform: rotate(135deg);
        }

        .faq .email-signup {
            max-width: 600px;
            margin: 20px auto 60px;
        }

        .faq small {
            font-size: 13px;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <nav class="bg-slate-50 border-gray-200 text-black ">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-black">EmergeNav</span>
            </a>
            <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                <button type="button"
                    class="flex text-sm rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                    id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                    data-dropdown-placement="bottom">
                    <span class="sr-only">Open user menu</span>
                    <span class="text-3xl material-symbols-outlined">
                        account_circle
                    </span> </button>
                <!-- Dropdown menu -->
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow"
                    id="user-dropdown">
                    <div class="px-4 py-3">
                        <span class="block text-sm" id="username"></span>
                        <span class="block text-sm" id="useremail"></span>
                    </div>
                    <ul class="py-2 px-5" aria-labelledby="user-menu-button">
                        <li>
                            <a href="/reset" class="block px-4 py-2 text-sm ">Reset the password</a>
                        </li>
                        <li>
                            <a href="/signout" class="block px-4 py-2 text-sm">Sign
                                out</a>
                        </li>
                    </ul>
                </div>
                <button data-collapse-toggle="navbar-user" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-user" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 text-black"
                id="navbar-user">
                <ul
                    class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 ">
                    <li>
                        <a href="#"
                            class="block py-2 px-3 bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="/booking"
                            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500">Book
                            Us</a>
                    </li>
                    <li>
                        <a href="#aboutus"
                            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500">Services</a>
                    </li>
                    <li>
                        <a href="/contact"
                            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0  md:dark:hover:text-blue-500">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- image and details -->

    <div class="main-img">
        <img src="https://images.pexels.com/photos/4226764/pexels-photo-4226764.jpeg" alt="" style="
					height: 500px;
					object-fit: cover;
					width: -webkit-fill-available;
					z-index: -6;
				" />
    </div>
    <div class="book-now" style="text-align: center; padding: 20px; background-color: #e4dadb">
        <div class="detail" style="
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 10px;
				">
            <h1 style="font-size: 2.5em; font-weight: bold; color: rgb(43, 43, 43)">
                24/7 Emergency Ambulance Care with EmergeNav
            </h1>
            <span> For Emergency Medical Service</span>
            <button
                class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
                <a href="/booking">
                    <span
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0 text-2xl">
                        Book Now
                    </span>
                </a>
            </button>
        </div>
    </div>

    <!--  -->
    <!--  -->

    <div id="aboutus" class="services-section p-4 sm:p-6 lg:p-8 xl:p-10">
        <div class="title mb-6">
            <h1 class="font-extrabold text-4xl text-blue-700">Statistics</h1>
        </div>
        <div class="stats grid grid-cols-1 md:grid-cols-3 gap-4 sm:gap-8 md:gap-12 lg:gap-16 xl:gap-20">
            <div class="insider flex flex-col items-center justify-center w-full bg-white shadow-lg rounded-lg p-8">
                <div class="no font-extrabold text-4xl text-red-500">95%</div>
                <div class="det">Satisfaction</div>
            </div>
            <div class="insider flex flex-col items-center justify-center w-full bg-white shadow-lg rounded-lg p-8">
                <div class="no font-extrabold text-4xl text-red-500">300+</div>
                <div class="det">Partnered Hospitals</div>
            </div>
            <div class="insider flex flex-col items-center justify-center w-full bg-white shadow-lg rounded-lg p-8">
                <div class="no font-extrabold text-4xl text-red-500">5</div>
                <div class="det">Cities</div>
            </div>
            <div class="insider flex flex-col items-center justify-center w-full bg-white shadow-lg rounded-lg p-8">
                <div class="no font-extrabold text-4xl text-red-500">500</div>
                <div class="det">Fleet of Ambulances</div>
            </div>
            <div class="insider flex flex-col items-center justify-center w-full bg-white shadow-lg rounded-lg p-8">
                <div class="no font-extrabold text-4xl text-red-500">90+</div>
                <div class="det">Lives Assisted</div>
            </div>
            <div class="insider flex flex-col items-center justify-center w-full bg-white shadow-lg rounded-lg p-8">
                <div class="no font-extrabold text-4xl text-red-500">&lt;15</div>
                <div class="det">Response Time</div>
            </div>
        </div>
    </div>


    <hr class="mt-10" />

    <!--  -->
    <!--  -->
    <!-- services -->

    <div class="services-section p-4 sm:p-6 lg:p-8 xl:p-10 bg-gray-100 rounded-md shadow-lg">
        <div class="title mb-6">
            <h1 class="text-4xl mt-5 font-extrabold text-red-500">Services</h1>
            <h1 class="text-2xl font-bold mt-5 text-red-500">On time, Every Time, Every Life</h1>
        </div>
        <div class="serve grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
            <div class="serve-item bg-white p-6 rounded-md shadow-md">
                <div class="image">
                    <svg class="flex-shrink-0 w-8 h-8 text-blue-600 dark:text-blue-500" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z">
                        </path>
                    </svg>
                </div>
                <div class="content mt-4 text-gray-700">
                    EmergeNav is working with the Government on a Public Private Partnership and PSU.
                </div>
            </div>
            <div class="serve-item bg-white p-6 rounded-md shadow-md">
                <div class="image">
                    <svg class="flex-shrink-0 w-8 h-8 text-blue-600 dark:text-blue-500" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z">
                        </path>
                    </svg>
                </div>
                <div class="content mt-4 text-gray-700">
                    We manage the end-to-end operations of the ambulance fleet of the hospital.
                </div>
            </div>
            <div class="serve-item bg-white p-6 rounded-md shadow-md">
                <div class="image">
                    <svg class="flex-shrink-0 w-8 h-8 text-blue-600 dark:text-blue-500" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z">
                        </path>
                    </svg>
                </div>
                <div class="content mt-4 text-gray-700">
                    EmergeNav is working with different corporate for providing ambulance.
                </div>
            </div>
            <div class="serve-item bg-white p-6 rounded-md shadow-md">
                <div class="image">
                    <svg class="flex-shrink-0 w-8 h-8 text-blue-600 dark:text-blue-500" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z">
                        </path>
                    </svg>
                </div>
                <div class="content mt-4 text-gray-700">
                    EmergeNav also has a 24*7*365 days functional emergency helpline number.
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-10" />

    <!--  -->
    <!--  -->
    <!--  -->

    <!-- about cards -->

    <div class="about flex items-center justify-center flex-col gap-8 mt-10">
        <div class="title text-sky-500 text-4xl lg:text-5xl font-extrabold">What is EmergeNav</div>
        <p class="w-full px-10 text-justify md:text-center font-semibold text-lg text-gray-700">
            India's first, GPS-based technology platform for fast and reliable first
            point medical attention. With an increasing emphasis on promoting
            independent living today, having access to the nearest ambulance to you
            can provide much-needed peace of mind in a worst-case scenario.
        </p>

        <div class="flex gap-8 px-4 flex-wrap justify-center items-center">
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg overflow-hidden">
                <a href="#">
                    <img class="rounded-t-lg w-full h-48 object-cover"
                        src="https://medulance.com/assets/images/ambulances.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#" class="text-sky-500">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                            Leveraging the latest advancements in technology
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700">
                        Our intuitive software solutions are designed to simplify complex
                        workflows, optimize resource allocation, and improve communication
                        between dispatchers, first responders, and healthcare facilities.
                    </p>
                </div>
            </div>
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg overflow-hidden">
                <a href="#">
                    <img class="rounded-t-lg w-full h-48 object-cover"
                        src="https://images.unsplash.com/photo-1554734867-bf3c00a49371?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YW1idWxhbmNlfGVufDB8fDB8fHww"
                        alt="" />
                </a>
                <div class="p-5">
                    <a href="#" class="text-sky-500">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                            Swift dispatch, saving lives: Our ambulance routing system
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700">
                        Developed by a dedicated team, this system has a proven track
                        record of improving response times, resource utilization, and
                        patient outcomes, ultimately saving lives and enhancing community
                        safety.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="faq mt-10">
        <div class=" text-sky-500 text-4xl lg:text-5xl font-extrabold mb-6">Frequently Asked Questions</div>

        <ul class="accordion max-w-2xl mx-auto">
            <li>
                <input type="radio" name="accordion" id="first" />
                <label for="first" class="accordion-label">What should I do if I need to call for an ambulance in an
                    emergency?</label>
                <div class="content">
                    If you need to call for an ambulance in an emergency, click on the "Book Us" button and fill in the
                    basic details.
                </div>
            </li>
            <li>
                <input type="radio" name="accordion" id="second" />
                <label for="second" class="accordion-label">Are there any specialized technologies used for emergency
                    routing?</label>
                <div class="content">
                    Yes, technologies such as GPS, real-time traffic monitoring, and routing software are used for
                    emergency routing to help ambulances respond quickly and efficiently.
                </div>
            </li>
            <li>
                <input type="radio" name="accordion" id="third" />
                <label for="third" class="accordion-label">How can I help emergency services during an
                    emergency?</label>
                <div class="content">
                    You can help emergency services during an emergency by staying calm, following instructions,
                    assisting others as needed, and providing accurate information.
                </div>
            </li>
        </ul>
    </div>


    <!-- footer -->

    <footer class="bg-white text-black">
        <div class="mx-auto w-full max-w-screen-xl border-1 border-t-2 border-black">
            <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">
                        Company
                    </h2>
                    <ul class=" font-medium">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">About</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Careers</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Brand Center</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Blog</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase ">
                        Help center
                    </h2>
                    <ul class=" font-medium">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Discord Server</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Twitter</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Facebook</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">
                        Legal
                    </h2>
                    <ul class=" font-medium">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Privacy Policy</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Licensing</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase ">
                        Download
                    </h2>
                    <ul class=" font-medium">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">iOS</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Android</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Windows</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">MacOS</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="px-4 py-6 bg-gray-300   md:flex md:items-center md:justify-between">
                <span class="text-sm  sm:text-center">© 2023 <a href="https://flowbite.com/">EmergeNav™</a>. All Rights
                    Reserved.
                </span>
                <div class="flex mt-4 sm:justify-center md:mt-0 space-x-5 rtl:space-x-reverse">
                    <a href="#" class="">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 8 19">
                            <path fill-rule="evenodd"
                                d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Facebook page</span>
                    </a>
                    <a href="#" class="">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 21 16">
                            <path
                                d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z" />
                        </svg>
                        <span class="sr-only">Discord community</span>
                    </a>
                    <a href="#">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 17">
                            <path fill-rule="evenodd"
                                d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Twitter page</span>
                    </a>
                    <a href="#">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">GitHub account</span>
                    </a>
                    <a href="#">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 0a10 10 0 1 0 10 10A10.009 10.009 0 0 0 10 0Zm6.613 4.614a8.523 8.523 0 0 1 1.93 5.32 20.094 20.094 0 0 0-5.949-.274c-.059-.149-.122-.292-.184-.441a23.879 23.879 0 0 0-.566-1.239 11.41 11.41 0 0 0 4.769-3.366ZM8 1.707a8.821 8.821 0 0 1 2-.238 8.5 8.5 0 0 1 5.664 2.152 9.608 9.608 0 0 1-4.476 3.087A45.758 45.758 0 0 0 8 1.707ZM1.642 8.262a8.57 8.57 0 0 1 4.73-5.981A53.998 53.998 0 0 1 9.54 7.222a32.078 32.078 0 0 1-7.9 1.04h.002Zm2.01 7.46a8.51 8.51 0 0 1-2.2-5.707v-.262a31.64 31.64 0 0 0 8.777-1.219c.243.477.477.964.692 1.449-.114.032-.227.067-.336.1a13.569 13.569 0 0 0-6.942 5.636l.009.003ZM10 18.556a8.508 8.508 0 0 1-5.243-1.8 11.717 11.717 0 0 1 6.7-5.332.509.509 0 0 1 .055-.02 35.65 35.65 0 0 1 1.819 6.476 8.476 8.476 0 0 1-3.331.676Zm4.772-1.462A37.232 37.232 0 0 0 13.113 11a12.513 12.513 0 0 1 5.321.364 8.56 8.56 0 0 1-3.66 5.73h-.002Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Dribbble account</span>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script>

        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);

                if (targetElement) {
                    window.scrollTo({
                        top: targetElement.offsetTop,
                        behavior: 'smooth'
                    });
                }
            });
        });
        function loadProfile() {
            let req = new XMLHttpRequest();
            req.open("GET", "/profile", true);

            req.onreadystatechange = function () {
                if (req.readyState == 4 && req.status == 200) {
                    console.log(req.responseText);

                    // Parse the JSON response
                    let responseData = JSON.parse(req.responseText);

                    // Access properties using responseData
                    document.getElementById('username').innerHTML = responseData.name;
                    document.getElementById('useremail').innerHTML = responseData.email;
                }
            };

            req.send();

        }

        window.addEventListener('load', () => {
            loadProfile();
        });
    </script>
</body>

</html>